<div class="container">
  <div class="top_banner">
    <h5 class="cursos_muktek">CURSOS MUKTEK</h5>
  </div>
  <div class="row alert">
    <div class="col-sm-9 col-sm-offset-2">
      <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p> <%= notice %>  </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row MUKTEK_logo">
    <div class="col-sm-2">
      <%= image_tag("MUKTEK_2.png")%>
    </div>

    <div class="col-sm-10">
      <h1 class="title">Introducción a HTML y CSS</h1>
      <h3 class="subtitle">Llena tu solicitud y estaremos en contacto contigo muy pronto!</h3>
    </div>
  </div>
</div>
