<!-- <section class="BotMenu"><a href="/nosotros.html">
    <h2>NOSOTROS</h2></a><a href="/cursos.html">
    <h2>CURSOS</h2></a><a href="/inscripciones.html">
    <h2>INSCRIPCIONES</h2></a></section> -->


<section class="Hero Hero--small">
  <a href="/">
    <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
    <!-- <img class="Hero-logo" src="/imgs/muktek-logo.svg" alt="Home logo"/> -->
  </a>
</section>
<section class="grid">
  <div class="col">
    <div class="copy copy--purple">
      <h2 class="copy__title">Introducción a HTML y CSS </br> <small><small>Excelente para diseñadores, emprendedoras, marketeros, o estudiantes</small></small></h2>
      <p>Part-Time <br/>Sabados · Iniciamos 15 de Julio</p><a class="link" href="/cursos/htmlycss">Más info</a>
      <div class="modal" id="js-pt-course">
        <div class="modal__dialog">
          <div class="modal__content copy--purple">
            <header class="container"><a class="modal__close" href="#">X</a>
              <h2>Introducción a HTML y CSS</h2>
            </header>
            <div class="container">
              <p>
                <em>En este curso aprenderás las bases de las tecnologías HTML y CSS, por lo que no requieres conocimientos previos.</em></br></br>

                <h3>Resultados esperados:</h3>
                </br>
                Serás capaz de crear un layout básico de una página de internet responsivo (i.e. que se vea bien en muchos tamaños de pantalla). Suena simple, pero requiere algo de “talacha” y guía por parte de un experto – sobre todo si nunca lo has intentado o te sientes algo confundido(a) con los recursos existentes en línea.</br></br>

                <h3>Diploma:</h3></br>
                Se entregará un diploma MUKTEK a los alumnos que completen por lo menos el 75% de las tareas asignadas satisfactoriamente y el 75% de asistencias al programa.</br></br>

                <h3>Herramientas y prácticas pedagógicas MUKTEK:</h3></br>
                Instructor altamente calificado</br>
                Exposición de conceptos teóricos</br>
                Prácticas individuales</br>
                Prácticas en equipo</br>
                Asesorías después de clases</br>
                Office Hours con mentores desde EEUU (en español)</br></br>

                <h3>Logística:</h3></br>
                Duración: 16 horas efectivas de clase, 8 horas de asesorías</br>
                Inicio: 8 de julio</br>
                Clases: 8, 15, 22 y 29 de julio</br>
                Modalidad: Presencial, sabatina</br>
                Horario: Clases de 9 a 13 horas. Asesorías de 14 a 16 horas.</br>
                Lugar: pide informes sobre nuestra nueva ubicación en info@muktek.com</br></br>

                <h3>Requisitos:</h3></br>
                Ser mayor de edad.
                Conocimiento de manejo de procesador de texto y de un navegador web.
                Ingles escrito y leído nivel intermedio.</br></br>

                <h3>Temario:</h3></br>
                <ul class="popup_ul">
                  <li>Bases de HTML, CSS, y Terminal  </li>
                  <li>Elementos específicos de HTML y CSS</li>
                  <li>Flex-box y diseño responsivo</li>
                  <li>Nociones de Github y Bootstrap</li>
                  <li>Creación de una maquetación web, desde cero</li>
                </ul>
                </br>
                <h3>Costos:</h3></br>
                <ul class="popup_ul">
                  <li>$4,500 MXN (incluye IVA)</li>
                  <li>Si haces pago de contado te damos un 10% de descuento</li>
                  <li>Puedes apartar tu lugar con $500 MXN y pagar el resto en dos emisiones, $2,000 MXN antes del 1 de julio y el resto antes del 18 de julio</li>
                  <li>¡Si eres de los primeros 2 inscritos obtienes una beca del 20%!</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="p_button"><a class="button button--more-info margin_modification" href="/applications/new">Inscríbete</a></p>
    </div>
  </div>
  <div class="col-1-of-3 copy__image" style="background-image: url(<%= asset_path('applications1.jpg') %>);"></div>
</section>
<section class="section--image" style="background-image:url(<%= asset_path('front_image.jpg') %>);"></section>
<section class="section--quote">
  <h2 class="quote">Somos una comunidad que busca reunir a gente proactiva que está interesada en aprender más sobre desarrollo de software, desde el origen.</h2>
</section>
<!-- <section class="grid">
  <div class="col copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
  <div class="col copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
  <div class="col copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
</section> -->
<section class="grid">
  <div class="col-1-of-3 copy__image" style="background-image: url(<%= asset_path('applications2.jpg') %>);"></div>
  <div class="col copy copy--blue">
    <h2 class="copy__title">Javascript Full-Stack</h2>
    <p>Full-Time <br/>Diario · Iniciamos 18 de Septiembre</br><br/>¿Quieres convertirte en desarrollador junior full-stack en 3 meses?</br></p>
    <p class="p_button"><a class="button button--more-info margin_modification" href="/newsletter">PIDE INFORMES</a></p>
  </div>
</section>
