<!-- <section class="BotMenu"><a href="/nosotros.html">
    <h2>NOSOTROS</h2></a><a href="/cursos.html">
    <h2>CURSOS</h2></a><a href="/inscripciones.html">
    <h2>INSCRIPCIONES</h2></a></section> -->
<section class="Hero Hero--small"></section>
  <a href="/">
    <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
    <!-- <img class="Hero-logo" src="/imgs/muktek-logo.svg" alt="Home logo"/> -->
  </a>
<section class="grid">
  <div class="col">
    <div class="copy copy--purple">
      <h2 class="copy__title">Introducción a HTML y CSS</h2>
      <p>Part-Time <br/>Sabados · Iniciamos 3 de Junio</p><a class="link" href="#js-pt-course">Más info</a>
      <div class="modal" id="js-pt-course">
        <div class="modal__dialog">
          <div class="modal__content copy--purple">
            <header class="container"><a class="modal__close" href="#">X</a>
              <h2>Introducción a HTML y CSS</h2>
            </header>
            <div class="container">
              <p>
                <em>En este curso aprenderás las bases de las tecnologías HTML y CSS, por lo que no requieres conocimientos previos.</em></br></br>

                <h3>Resultados esperados:</h3>
                </br>
                Serás capaz de crear un layout básico de una página de internet responsivo (i.e. que se vea bien en muchos tamaños de pantalla). Suena simple, pero requiere algo de “talacha” y guía por parte de un experto – sobre todo si nunca lo has intentado o te sientes algo confundido(a) con los recursos existentes en línea.</br></br>

                <h3>Diploma:</h3></br>
                Se entregará un diploma MUKTEK a los alumnos que completen por lo menos el 75% de las tareas asignadas satisfactoriamente y el 75% de asistencias al programa.</br></br>

                <h3>Herramientas y prácticas pedagógicas MUKTEK:</h3></br>
                El curso se impartirá mediante:
                Instructor altamente calificado
                Exposición de conceptos teóricos
                Prácticas individuales
                Prácticas en equipo
                Asesorías después de clases
                Office Hours con mentores desde EEUU (en español)</br></br>

                <h3>Logística:</h3></br>
                Duración: 16 horas efectivas de clase, 8 horas de asesorías
                Inicio: 3 de junio
                Clases: 3, 10, 17 y 24 de junio
                Modalidad: Presencial, sabatina
                Horario: Clases de 9 a 13 horas. Asesorías de 14 a 16 horas.
                Lugar: Universidad Interglobal, ubicada en Ignacio L. Vallarta 1, Tabacalera, 06030 Ciudad de México, CDMX.</br></br>

                <h3>Requisitos:</h3></br>
                Ser mayor de edad.
                Conocimiento de manejo de procesador de texto y de un navegador web.
                Ingles escrito y leído nivel intermedio.</br></br>

                <h3>Temario:</h3></br>
                <ul class="popup_ul">
                  <li>Bases de HTML, CSS, y Terminal  </li>
                  <li>Elementos específicos de HTML y CSS</li>
                  <li>Flex-box y diseño responsivo</li>
                  <li>Nociones de Github y Bootstrap</li>
                  <li>Creación de una maquetación web, desde cero</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <p><a class="button button--more-info margin_modification" href="/applications/new">Inscríbete</a></p>
    </div>
  </div>
  <div class="col-1-of-3 copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
</section>
<section class="section--image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></section>
<section class="section--quote">
  <h2 class="quote">Somos una comunidad que busca reunir a gente proactiva que está interesada en aprender más sobre desarrollo de software, desde el origen.</h2>
</section>
<section class="grid">
  <div class="col copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
  <div class="col copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
  <div class="col copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
</section>
<section class="grid">
  <div class="col-1-of-3 copy__image" style="background-image: url(https://www.officelovin.com/wp-content/uploads/2015/09/the-den-office-coworking-2.jpg);"></div>
  <div class="col copy copy--blue">
    <h2 class="copy__title">Javascript Full-Stack</h2>
    <p>Full-Time <br/></br>¿Quieres convertirte en desarrollador junior full-stack en 3 meses?</br></br></br></br><em>Coming soon...</em></p>
  </div>
</section>
