


<section class="Hero Hero--small">
  <a href="/">
    <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
    <!-- <img class="Hero-logo" src="/imgs/muktek-logo.svg" alt="Home logo"/> -->
  </a>
</section>

<section class="section--quote copy--black">
  <h2 class="quote center">GRACIAS</h2>
</section>

<div class="modal__content copy--black">
  <div class="container_newURL">
    <div class="container">
      <p class="largepar center">
          Estaremos en contacto contigo lo antes posible con una respuesta
      <br><br><br><br><br><br>
      </p>
    </div>

  </div>
</div>
