.button-md {
  background: none;
  border: none;
  height: 45px;
  outline: none;
  position: relative;
  padding: 0 10px;
}

.button-md a {
  text-decoration: none;
}

.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button__text {
  display: block;
  padding: 13px;
  text-align: center;
  position: relative;
  color: #2c3d89;
  font-weight: bold;
}

.button--line .morph-shape svg {
  fill: none;
  stroke: #2c3d89;
  stroke-width: 5px;
  stroke-linecap: round;
}

.btn-submit {
  background-color: rgba(90, 90, 90, 0.2);
  color: #2c3d89;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  border-radius: 3px;
  font-family: "Montserrat";
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn-submit:hover {
  background-color: rgba(90, 90, 90, 0.4);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.form-title {
  color: #2c3d89;
  margin-bottom: 20px;
}
