<section class="Hero Hero--small">
  <a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  </a>
</section>

<section class="section--quote copy--black">
  <h2 class="quote">Javascript Full Stack (13 weeks) <br><small>(ready to change your life?)</small></h2>
</section>


<div class="modal__content copy--black">
  <div class="container_newURL">
    <div class="container">
    <p class="largepar center">
      <em>Cambia tu vida y aprende a codear desde cero. <br><br>Este es un curso intensivo, presencial, en el cual te convertirás en Jr. Full Stack Developer en Javascript, con el apoyo de 2 Instructores (los mejores) y un Teaching Assistant en una clase de ~15 estudiantes. Aprenderás desarrollo web basado en Javascript, incluyendo todas las herramientas y frameworks más relevantes del mundo el día de hoy - estas incluyen React.js, Node.js, Express.js, MySQL, git y test-driven-development.

        <br><br> Además, desarrolla tus habilidades suaves guiado(a) por expertos globales. La empatía, el trabajo en equipo, la diversidad cultural, y otros serán pieza fundamental para tu éxito como emprendedor(a), en el mundo laboral del futuro, y en la vida!
      </em> <br><br><br><br>
    </p>
    <p class="largear">
      <ul class="popup_ul largepar">
        <li>13 semanas, lunes a viernes de 9am a 6pm (400+ hrs de clase y apoyo)</li>
        <li>Mini - Proyectos semanales y 2 Proyectos más grandes</li>
        <li>Retroalimentación constante y personalizada</li>
        <li>Últimas tecnologías relacionadas a Javascript (incluyendo React.js) y prácticas globales en desarrollo de software</li>
        <li>Creación de tu propia web-app, desde cero</li>
      </ul><br>
    </p>
      <h2 class="copy__title h2_newURL">¿Por qué aprender a codear?</h2>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Te empodera para emprender</li>
          <li>Podrás empezar a hacer tus propias apps, páginas web, o juegos</li>
          <li>Te abrirá más puertas del mercado laboral y progresarás más rápido</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">¿Y por qué Javascript?</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>El 2ndo lenguaje más demandado en México</li>
          <li>Tiene apoyo de empresas como Facebook y Netflix</li>
          <li>Es “el futuro de los lenguajes web” según los expertos</li>
          <li>Se utiliza para hacer páginas web interactivas y videojuegos</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">¿Por qué MUKTEK?</h2></br>
      <p class="largepar center">
        <em>
        Utilizamos una metodología única en el país, creada en conjunto con expertos de coding bootcamps en EUA y expertos internacionales en desarrollo personal.
      </em><br><br><br>
        <ul class="popup_ul largepar">
          <li>Experiencia en coding bootcamps en USA como The Iron Yard y Galvanize</li>
          <li>80% práctico, 20% teórico</li>
          <li>Seguimiento personalizado 24/7</li>
          <li>Mentores en Estados Unidos y México</li>
          <li>Conexión con el mundo laboral y/o mentorías en emprendimiento</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Logística:</h2></br>
      <p class="largepar">
        Estudiar es fácil... encontrar el ambiente ideal para hacerlo, no tanto... MUKTEK lleva tu salón de clases a un ambiente de emprendedurismo para lograr el ecosistema tecnológico ideal para tu aprendizaje y motivación.<br><br><br><br>
      </p>
      <p class="largepar center">
      <br>
        <big>Septiembre 18 - Diciembre 15</big><br><br>
        <big>  Inscripciones desde el 17 de julio</big>
      </p>
      <h2 class="copy__title h2_newURL"><br><br>Requisitos:</h2></br>
        <p class="largepar">
          <ul class="popup_ul largepar">
            <li>Inglés leído y escrito</li>
            <li>Motivación para aprender</li>
            <li>Computadora personal</li>
          </ul>
        </p>
      <h2 class="copy__title h2_newURL">Inscripciones:</h2></br>
      <p class= "largepar">
          Inscríbete <a class="underline" href="/applications/new">AQUÍ</a><br><br>
          <small>Si te quedó alguna duda, escríbenos a <a class="underline" href="mailto:info@muktek.com">info@muktek.com</a></small>
      </p>
  </div>

  </div>
</div>
