<section class="Hero Hero--small">
  <a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  </a>
</section>

<section class="section--quote copy--black">
  <h2 class="quote">Javascript Full Stack <br><small>(muy pronto...)</small></h2>
</section>
