<section class="Hero Hero--small">
  <a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  </a>
</section>

<section class="section--quote copy--purple">
  <h2 class="quote">Introducción a HTML y CSS</h2>
</section>

<div class="modal__content copy--purple">
  <div class="container_newURL">
    <div class="container">
    <p class="largepar">
      <em>En este curso aprenderás las bases de las tecnologías HTML y CSS, por lo que no requieres conocimientos previos.</em>
    </p>
      <h2 class="copy__title h2_newURL">Resultados esperados:</h2>
      <p class="largepar">
        Serás capaz de crear un layout básico de una página de internet responsivo (i.e. que se vea bien en muchos tamaños de pantalla). Suena simple, pero requiere algo de “talacha” y guía por parte de un experto – sobre todo si nunca lo has intentado o te sientes algo confundido(a) con los recursos existentes en línea.</br></br>
      </p>
      <h2 class="copy__title h2_newURL">Diploma:</h2></br>
      <p class="largepar">
        Se entregará un diploma MUKTEK a los alumnos que completen por lo menos el 75% de las tareas asignadas satisfactoriamente y el 75% de asistencias al programa.</br></br>
      </p>
      <h2 class="copy__title h2_newURL">Herramientas y prácticas pedagógicas MUKTEK:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Instructor altamente calificado</li>
          <li>Exposición de conceptos teóricos</li>
          <li>Prácticas individuales</li>
          <li>Prácticas en equipo</li>
          <li>Asesorías después de clases</li>
          <li>Office Hours con mentores desde EEUU (en español)</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Logística:</h2></br>
      <p class="largepar">
        Duración: 16 horas efectivas de clase, 8 horas de asesorías</br>
        Inicio: <small><em>escríbenos a info@muktek.com para averiguar sobre nuestras próximas fechas</em></small></br>
        Modalidad: Presencial, sabatina</br>
        Horario: Clases de 9 a 13 horas. Asesorías de 14 a 16 horas.</br>
        Lugar: The Pool, Toledo (Toledo #39, Juarez, CDMX)</br></br>
      </p>
      <h2 class="copy__title h2_newURL">Requisitos:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Ser mayor de edad</li>
          <li>Conocimiento de manejo de procesador de texto y de un navegador web</li>
          <li>Ingles escrito y leído nivel intermedio</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Temario:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Bases de HTML, CSS, y Terminal  </li>
          <li>Elementos específicos de HTML y CSS</li>
          <li>Flex-box y diseño responsivo</li>
          <li>Nociones de Github y Bootstrap</li>
          <li>Creación de una maquetación web, desde cero</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Costos:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>$4,500 MXN (incluye IVA) *</li>
          <li>Si haces pago de contado te damos un 10% de descuento</li>
          <li>Puedes apartar tu lugar con $500 MXN y pagar el resto en dos emisiones al principio del curso y después de la segunda clase</li>
          <li>¡Pregunta por nuestros descuentos para diseñadores, marketeros, y estudiantes!</li><br>
          <small>*Precio corporativo: $5,400 MXN (incluye IVA)</small>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Inscripciones:</h2></br>
      <p class= "largepar">
          Inscríbete <a class="underline" href="/applications/new">AQUÍ</a><br><br>
          <small>Si te quedó alguna duda, escríbenos a <a class="underline" href="mailto:info@muktek.com">info@muktek.com</a></small>
      </p>
  </div>

  </div>
</div>
