<section class="Hero Hero--small">
  <a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  </a>
</section>

<section class="section--quote center space copy--black">
  <h2 class="quote">Javascript Full Stack <br><br></b><small>(ready to change your life?)</small></h2>
</section>
