<section class="Hero Hero--small">
  <a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  </a>
</section>

<section class="section--quote copy--light-green">
  <h2 class="quote">Introducción a MySQL</h2>
</section>



<div class="modal__content copy--light-green">
  <div class="container_newURL">
    <div class="container">
    <p class="largepar">
      <em>En este curso aprenderás las bases de las bases de MySQL, por lo que no requieres conocimientos previos.</em>
    </p>
      <h2 class="copy__title h2_newURL">Resultados esperados:</h2>
      <p class="largepar">
        Serás capaz de manipular bases de datos utilizando syntaxis de MySQL. Podrás hacer querries y manipular tablas de datos relacionales para lograr lo que quieres en tus análisis de cantidades grandes de información.</br></br>
      </p>
      <h2 class="copy__title h2_newURL">Diploma:</h2></br>
      <p class="largepar">
        Se entregará un diploma MUKTEK a los alumnos que completen por lo menos el 75% de las tareas asignadas satisfactoriamente y el 75% de asistencias al programa.</br></br>
      </p>
      <h2 class="copy__title h2_newURL">Herramientas y prácticas pedagógicas MUKTEK:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Instructor altamente calificado</li>
          <li>Exposición de conceptos teóricos</li>
          <li>Prácticas individuales</li>
          <li>Prácticas en equipo</li>
          <li>Asesorías después de clases</li>
          <li>Office Hours con mentores desde EEUU (en español)</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Logística:</h2></br>
      <p class="largepar">
        Duración: 16 horas efectivas de clase, 8 horas de asesorías</br>
        Inicio: 12 de agosto</br>
        Clases: 12, 19, 26 de agosto y 2 de septiembre</br>
        Modalidad: Presencial, sabatina</br>
        Horario: Clases de 9 a 13 horas. Asesorías de 14 a 16 horas.</br>
        Lugar: The Pool, Toledo (Toledo #39, Juarez, CDMX)</br></br>
      </p>
      <h2 class="copy__title h2_newURL">Requisitos:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Ser mayor de edad</li>
          <li>Conocimiento de manejo de procesador de texto y de un navegador web</li>
          <li>Ingles escrito y leído nivel intermedio</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Temario:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>Sintaxis simple de MySQL</li>
          <li>Llaves y relaciones entre tablas</li>
          <li>Relaciones entre datos: One-to-one, one-to-many, many-to-many relationships</li>
          <li>Join tables</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Costos:</h2></br>
      <p class="largepar">
        <ul class="popup_ul largepar">
          <li>$4,999 MXN (incluye IVA)</li>
          <li>10% de descuento con pagos de contado</li>
          <li>Puedes apartar tu lugar con $500 MXN y pagar el resto en dos emisiones al principio del curso y después de la segunda clase</li>
          <li>¡Pregunta por nuestros descuentos para analistas de negocios, financieros, y contadores!</li>
        </ul>
      </p>
      <h2 class="copy__title h2_newURL">Inscripciones:</h2></br>
      <p class= "largepar">
          Inscríbete <a class="underline" href="/applications/new">AQUÍ</a><br><br>
          <small>Si te quedó alguna duda, escríbenos a <a class="underline" href="mailto:info@muktek.com">info@muktek.com</a></small>
      </p>
  </div>

  </div>
</div>
