
<!-- Site in construction code -->
<div class="construction">
  <div class="MUKTEK_logo">
    <%= image_tag("MUKTEK.png")%>
  </div>
 <h1>Talento y tecnología. desde el origen.</h1>

 <h3 class="invite">
   Si te interesa el desarrollo de software, síguenos en Facebook e inscríbete a nuestro newsletter aquí!!
 </h3>

 <div class="fb_marketing">
   <div class="fblogo">
     <%= image_tag("fb_logo_2.png")%>
   </div>
   <div class="fb_page_address">
     <h3>www.facebook.com/MUKTEK</h3>
   </div>
 </div>
</div>
