<section class="Hero Hero--small">
  <a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  </a>
</section>

<section class="section--quote copy--light-green">
  <h2 class="quote">Metodología MUKTEK</h2>
</section>

<div class="modal__content copy--light-green">
  <div class="container_newURL">
    <div class="container">
        <p class="largepar"><em>En MUKTEK preparamos gente de calidad mundial. Nuestra metodología ha sido creada con asesoramiento de expertos de coding bootcamps en Estados Unidos.</em></p>
        <h2 class="copy__title h2_newURL">Soft Skills y Growth Mindset</h2>
        <p class="largepar">Lo más importante para graduarte de un programa de MUKTEK es desarrollar un pensamiento de crecimiento. Al enfocarnos en abrirle las puertas al mundo de la tecnología a gente con contextos profesionales y de estudios muy diversos, sabemos que habrá mucho que aprender para la mayoría.</p>
        <p class="largepar">Además, hemos estudiado las competencias necesarias para el el mundo laboral moderno y seguimos una filosofía que ve a las habilidades suaves como esenciales en el mundo laboral. Por esto, nos enfocamos en facilitar el proceso de aprendizaje mediante el desarrollo de un growth mindset, y equipamos a nuestros estudiantes con un kit de habilidades suaves para el futuro.</p>
        <blockquote>
          <p class="largepar spacequote">“The future is tech… and it requires us to be ever more human”</p>
          <cite>Enrique Carral, MUKTEK CEO & Founder</cite>
        </blockquote>
        <h2 class="copy__title h2_newURL">Curriculum Creation</h2>
        <p class="largepar">Nuestros planes de estudio son pensados basándonos en resultados - ahì empieza la magia. Estructuramos cada competencia a desarrollar con una metodología adquirida de expertos en Estados Unidos para lograr la creación estructurada y lógica de nuestros programas, finalizando, así, en una experiencia de la más alta calidad para nuestros estudiantes.</p>
        <h2 class="copy__title h2_newURL">Delivery</h2>
        <p class="largepar">Contratamos a instructores de desarrollo de software - que es muy distinto a contratar a  desarrolladores de software. Por esto, logramos empatía con nuestros alumnos y somos más efectivos en la transferencia de conocimientos.</p>
        <p class="largepar">Nos enfocamos en la pedagogìa para enseñar, no en el simple “repite lo que acabo de hacer.” Por esto, estudiamos a detalle distintas técnicas de enseñanza y escogemos aplicar las más efectivas para nuestros alumnos. </p>
        <h2 class="copy__title h2_newURL">Support</h2>
        <p class="largepar">El éxito de nuestros alumnos define el nuestro y estamos conscientes de ello en el día a día de nuestro trabajo. Por esto, buscamos la mejor experiencia para ellos, no solo como clientes que son, sino como como vividores de una experiencia intensa que los llevará a situaciones muy por fuera de su zona de confort. Por esto, damos un seguimiento personalizado al aprendizaje y estamos ahí 24/7 para resolver dudas, inquietudes, y ¡también para divertirnos juntos!</p>
    </div>
  </div>
</div>
